/* Font Styles  */

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
</style>

.poppins-font{

}


main {
  width: 1337px;
  margin:0% 13% 13% 13%;
}




.top-banner {
  background: #161616;
  border-radius: 30px;
  margin-bottom: 40px;

  padding-bottom: 0px;
}
.top-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 0px;
  align-items: flex-end;
}
.top-information {
  color: white;
  width: 531px;
  height: 424px;
}
.top-information h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}
.watch-btn{
    width: 187px;
    height: 56px;
    background-color: #DD0000;
border-radius: 5px;
color: #FFFFFF;
}
/* ----------------------
 Main Banner
 ------------------  */

.main-banner {
  display: flex;
}

/*------------
     NAV BAR 
     ---------------*/

.information-container {
  width: 312px;
  height: 312px;
  background-color: #161616;
  border-radius: 10px;
  margin-top: 10px;
}

.information-container a{
    text-decoration:none;
    color: #161616;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    
}



.nav-section{
    width: 252px;
    height: 64px;
    background-color:white;
    margin:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 5px;
    

}

.nav-section:hover{
    
    background-color:red;
   

}


.live-container-banner {
  width: 75%;
margin-left:26px;

  display: flex;
  flex-wrap: wrap;
}

/* -----------
live-container section
--------------------  */

.live-container {
  width: 312px;
  height: 361px;
  margin: 10px;
  box-shadow:5px 5px 10px lightgray ;
}

.live-container h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
}

.transfer-btn{
    width: 100px;
height: 32px;

}
.icons-bar p,
h3,
button {
  margin: 20px;
}
.icons-bar p {
  display: inline-block;
  margin-top: 0px;-
}




/* -----------------
FOOTER 
--------------------- */

footer{


    margin-top:50px;
    width: 100%;
height: 444px;
background: #161616;
color:white;
display:flex;
flex-direction: column;
    justify-content:center;
    justify-content:space-around;
    align-items:center;
}

.footer-banner{
    display:flex;
    justify-content: space-between;
    
    
}

.services{

    margin-right:20px;
}

.services a {
    text-decoration:none;
    color:white;
}



/* ---------------------------------------------------------------------------------------------------------------------

                                                       Media Quries  
                                                       
                                                       ---------------------------------------------------------------------------------------------------*/

       /* -----------------------Tablet Devices ------------
       ------------------------------------------- */


       @Media only screen and (min-width:688px) and (max-width:992px){

main{
    width:992px;
    margin:0% 13% 13% 13%;
    
}

.top-banner{
    width:60%;
    height: 600px;}
    

.top-information{
    padding-left:20px;
}

.main-banner{
    display:flex;
    flex-direction:column;
   
}

.information-container{
    background-color:white;
    width:60%;
    height:100px;
}
nav {
    display:flex;
    background-color:white;
}.nav-section{
    width: 252px;
    height: 64px;
    background-color:white;
    margin:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 5px;
    border:1px solid grey;
    

}

.
.nav-section:hover{
    
    background-color:red;
   

}

.live-container-banner{
    width:68%;
    margin-left:-40px;
    margin-top:30px;
}

footer{
    width:100%;
}

element.style {
}
.footer-banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 53%;
}

       }
/* -----------------------Mobile Devices ------------
       ------------------------------------------- */
     

       

@Media only screen and (max-width:688px){
    main {
        width: 500px;
        margin: 0% 13% 13% 13%;
        display:flex;
    }

.top-banner {
    background: #161616;
    border-radius: 30px;
    margin-bottom: 40px;
    padding-bottom: 0px;
    width: 549px;
}
.top-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 0px;
    align-items: center;
    flex-direction: column;
}
footer{
    width:100%;
}
}